@tailwind base;
@tailwind components;
@tailwind utilities;


.sidebar-open {
    animation: slide-in-left 0.3s forwards;
  }
  
  .sidebar-close {
    animation: slide-out-left 0.3s forwards;
  }
  
  @keyframes slide-in-left {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slide-out-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }